body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  /*initial_scale=1 /*чтобы на телефоне могли делать зум*/
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  position: absolute; /*чтоб хедер накладывался  поверх интро*/
  top: 0;
  left: 0;
  z-index: 1000; /*чтоб хедер накладывался  поверх интро*/
  width: 100%;
  height: 100px;
}
z .header.fixed {
  position: fixed;
  background-color: #31344e;
  height: auto;
}
.header.fixed .header__inner {
  padding: 15px 0;
  border-bottom: 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
}
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none; /*убрать подчерк под ссылками*/
  opacity: 0.8;
  transition: opacity 0.1s linear; /*насколько быстро будет меняться свет из прозрачного в более светлый при наводке  */
}
.nav__link:hover {
  /*все что пишется ниже будет работать на все слова*/
  opacity: 1; /*прозрачность при наводке*/
}
.nav__link:first-child {
  /*только на первое слово  */
  margin-left: 0;
}
.intro {
  height: 750px; /*высота интра*/
  background: #31344e url("/img/intro-bg.jpg") center no-repeat;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.intro__inner {
  max-width: 970; /*макс ширина*/
  width: 100%;
  margin: 0 auto;
  text-align: center; /*текст по центру*/
}
.intro__title {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.intro__aboba {
  font-size: 25px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin: 60px;
}

.btn {
  display: inline-block; /*могли делать внутренние отступы (Paiding)*/
  vertical-align: top; /*выравнивание по вверху*/
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 3px;
  transition: background 0.1s linear;
}
.btn--red {
  background-color: #e84545;
}
.btn--red:hover {
  /*при наводке меняется цвет*/
  background-color: #e03a3a;
}
.btn--long {
  min-width: 280px;
}
.features {
  display: flex;
  margin: 100px 0;
  flex-wrap: wrap; /*переводит на другую строчку элементы*/
}
.features__item {
  width: 33.33333%; /*ширина*/
  text-align: center;
  padding: 0 30px;
  width: 33.33333%;
  margin: 25px 0;
}
.features__icon {
  margin-bottom: 25px; /*снаружи*/
}
.features__titel {
  color: #2d3033;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.features__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}
.works {
  display: flex;
  flex-wrap: wrap; /*был перескок ниже */
}
.works__item {
  width: 25%;
  position: relative;
  overflow: hidden; /*скрывать все что вылезает за пределы блока */
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.works__photo {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.works__item:hover .works__content {
  opacity: 1;
}
.works__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*по центру в блоке по вертикале */
  flex-direction: column;
  text-align: center; /*по центру по горизонтали*/
  opacity: 0; /*                */
  background-color: rgba(
    232,
    69,
    69,
    0.9
  ); /*отенки (232)red(69)green(69)blue        последний параметр (0.9)отвечает за прозрачность цвета */
  transition: opacity 0.2s linear; /*плавный переход для прозрачности */
}
.works__title {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.works__text {
  font-size: 14px;
  color: #000000;
}

.team {
  padding: 80px;
  background-color: rgb(255, 255, 255);
}
.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -80px;
}
.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.team__photo {
  display: block; /*для гибкости картинки            */
  max-width: 100%; /*   тоже для адаптивности картинки          */
  height: auto; /* автомотически подбирала высоту под вид устройства */
  margin-bottom: 20px;
}
.team__name {
  font-size: 22px;
  color: #000000;
  margin-bottom: 8px;
}
.team__prof {
  color: #e84545;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
}
.team__text {
  line-height: 1.5;
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}
.social {
  display: flex;
}
.social--footer {
  justify-content: center;
}
.social--footer .social__item {
  border-width: 3px;
  border-color: #fff;
  border-radius: 2px;
}
.social--footer .social__item:hover {
  background-color: #fff;
}
.social__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center; /*по центру по горизонтали */
  align-items: center; /*по вертикали центр*/
  border: 1px solid #e8ecee; /*солид означает сплошной */
  margin-right: 4px;
}

.rewiews {
  background-color: #53354a;
  overflow: hidden;
}
.rewiews__slider {
  height: 500px;
  overflow: hidden; /*скрывает лишнее что вылезает за пределы блока(иммено здесь 2-ой слайд )*/
}
.rewiews__slider.slick-initialized {
  height: auto;
}

.rewiews__item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.rewiews__photo {
  width: 50%;
  height: 500px;
  position: relative;
}
.rewiews__img {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 1;
  transform: translateY(-50%);
}
.rewiews__content {
  width: 50%;
  flex-direction: column;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rewiews__text {
  font-family: "Cardo", sans-serif;
  color: #fff;
  font-size: 36px;
  font-style: italic;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
}
.rewiews__author {
  color: #fff;
  font-size: 13px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.slick-dots {
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 0 0 10px;

  list-style: none;
}
.slick-dots button {
  background: #fff;
  border: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer; /*чтоб была кнопка при наводе на кружочек */
  opacity: 0.5;
}
.slick-dots button:focus {
  outline: 0;
}
.slick-dots .slick-active button {
  opacity: 1;
}
.slick-dots li {
  margin: 0 5px;
}

.download {
  padding: 90px 0;
  text-align: center;
  background-color: #515369;
}
.download__title {
  margin-bottom: 8px;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
}
.download__text {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer {
  background-color: #3a3e64;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}
.footer__block {
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
}
.footer__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__text {
  color: #fff;
  opacity: 0.5;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}
.footer__clova {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.5;
}
.copy__copyright {
  background-color: #313454;
  padding: 20px 0;
}
.copy__text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}
.copy__text span {
  color: #fff;
}
.burger {
  display: none;
  background: none;
  cursor: pointer;
  border: 0;
  padding: 11px 4px;
}
.burger__item {
  display: block;
  width: 22px;
  height: 3px;
  font-size: 0px;
  background-color: #fff;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: ""; /*?????????????????*/
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0; /*чтобы прижимать к левой границе типо чтобы ровно было слево*/
  z-index: 1;
  background-color: #fff;
}
.burger__item:before {
  width: 15px;
  top: -8px;
}
.burger__item:after {
  top: 8px;
  width: 30px;
}

@media (max-width: 991px) {
  .nav {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #31344e;
  }

  .nav__link {
    padding: 9px 15px;
  }
  .nav.show {
    display: flex;
  }
  .burger {
    display: block; /*показывает при 991px или меньше, если больше то не показывает*/
  }
  .intro__title {
    font-size: 40px;
  }
  .features__item {
    width: 50%;
  }
  .rewiews__item {
    /* фото*/
    width: 100%;
    overflow: hidden;
  }
  .rewiews__photo {
    width: 100%;
    overflow: hidden;
    margin: 15px 0 10px;
  }
  .rewiews__content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .works__item {
    width: 50%;
  }
  .team__item {
    width: 50%;
    text-align: center;
  }
  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }
  .intro__title {
    font-size: 30px;
  }
  .intro__aboba {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .features {
    margin: 20px 0;
  }
  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .features__titel {
    font-size: 18px;
  }
  .features__text {
    font-size: 20px;
  }
  .works__item {
    width: 100%;
    height: 300px;
  }
  .team__item {
    width: 100%;
    text-align: center;
  }
  .team {
    margin: 40px 0 10px;
  }
  .team__prof {
    font-size: 17px;
  }
  .team__text {
    font-size: 20px;
  }
  .rewiews__text {
    font-size: 24px;
  }
  .rewiews__author {
    font-size: 15px;
  }
  .btn--long {
    min-width: 260px;
  }
  .download {
    margin: 50px 0;
  }
  .download__text {
    font-size: 15px;
  }
  .download__title {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .footer__block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer__inner {
    padding: 40px 0;
  }
  .footer__block:last-child {
    margin-bottom: 0;
  }
  .footer__clova {
    font-size: 17px;
  }
  .footer__text {
    font-size: 17px;
  }
}
@media (max-width: 423px) {
  .rewiews__img {
    right: -120px;
  }
}
